/* styles.css */

.question-box {
  width: 90%;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  text-align: center;
}

.question-title {
  font-family: "NotoSansKR-VariableFont_wght";
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #272727;
}

.question-description {
  font-family: "NotoSansKR-VariableFont_wght";
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #272727;
  word-break: keep-all;
}

.question-hint {
  font-family: "NotoSansKR-VariableFont_wght";
  color: #6d6d6d;
  background-color: #e3f2fd;
  padding: 10px;
  border-radius: 5px;
}

.answer {
  font-family: "HS-Regular";
  font-size: 2rem;
}
