body {
  margin: 0;
  background-color: #1c1c1e;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: scale(0.75);
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

button {
  width: 200px;
  height: 80px;
  font-size: 18px;
  font-weight: bold;
  color: #f4f4f4;
  background-color: #1c1c1e;
  border: 2px solid #444;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
  transition: background-color 0.2s ease, transform 0.1s ease;
}

button:hover {
  background-color: #3a3a3c;
  transform: scale(1.1);
}
